html {
    background-color: rgb(119, 119, 253);


}

.largeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    height: 90vh;
    margin: 0;
}


.heading {

    flex : 0 0 auto;
    /**margin-top: 0px;
    margin-bottom: 100px;**/
    font-size: 30px;
    font-weight: bold;
    font-family: 'Open Sans';

}

.content-container {
    display: flex;
    flex-direction: column;
}



button {
    padding: 5px 15px;
    margin: 10px;
    flex: 0;
}

label {
    font-size: large;
    font-weight: bold;
    font-family: 'Open Sans';
}

.grid-container{
    flex : 1 0 auto;


    display: flex;
    /**max-width: 432px;**/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/**.footer {
    flex : 1 0 auto;
    margin-bottom: 25px;

    background-color: grey;
    font-family: 'Open Sans';
}**/